%ol.rolls-results
  - @roll_results.each do |opts, rolls|
    %h1 #{opts.first} sided #{opts.last} #{opts.last > 1 ? 'times' : 'time'}
    %li.roll-result
      %ol.rolls
        - rolls.each do |roll|
          %li.roll #{roll.join(', ')}
